header{
    height: 180px;
    background-image: url("img/pattern.png");
    background-color: #7FA6FB;
    background-image: ;

}

#logo{
    height: 80px;
    margin-top: 90px;

}

#trafiletto{
    color: grey;
    font-size: x-large;
}
#scrittore{
    color: #7FA6FB;
}

h1{
    font-size: 60px;
}

.timmyimg{
    
}

th{
    padding-right: 120px;
    
}

#th3{
    padding-right: 385px;
}

#t3{
    width: 50%;

}

thead{
    background-color: #7FA6FB;
}

.pari{
    background-color: aqua;
}